@charset "UTF-8";
header {
  background-color: #f7ddcd;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 10px 10px;
  align-items: center;
}

body {
  background-image: url(../imagenes/body/fondopagina.jpg);
  background-size: contain;
  background-size: cover;
}

.navegador {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#Marca {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cerrar-menu {
  display: none;
}

#Logo {
  width: 100px;
  height: 80px;
}

#Logo {
  display: block;
  margin: 0 auto;
  transition: transform 2s ease-in-out;
}

a:hover #Logo {
  animation: shake 2s;
}

.lista-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  text-shadow: 1px 1px 2px gray;
}

.lista-footer {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: start;
}

.lista-nav a, .lista-footer a {
  text-decoration: none;
  color: #000000;
  font-family: "Tilt neón";
}

.lista-footer a {
  display: inline-block;
  text-decoration: none;
  color: black; 
  transition: transform 0.5s ease-in-out;
}

.lista-footer a:hover {
  transform: translateX(10px);
}

#titulo {
  font-family: "Tilt neón";
  font-weight: 700;
  font-size: 25px;
  line-height: 1.28;
  text-align: left;
  text-shadow: 1px 1px 2px gray;
}

.sections {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}

.sections h2 {
  margin-bottom: 5vh;
}

.texto-presentacion, .texto-sobre-nosotros, .texto-adopciones-que-inspiran, .texto-adoptar, .texto-donaciones, .p-contacto {
  color: black;
  font-family: "Tilt neón";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10% 2% 10%;
}

.texto-sobre-nosotros h2 {
  margin-top: 5%;
}

h2 {
  font-family: "Tilt neón";
  font-weight: bolder;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
  text-decoration: underline;
  margin-top: 5%;
  margin-bottom: 10%;
}

.imagenes {
  width: 100%;
  height: 200px;
  max-height: -moz-fit-content;
  max-height: fit-content;
  border-radius: 15px;
  -o-object-fit: cover;
  object-fit: cover;
}

.texto-descriptivo {
  font-family: "Tilt neón";
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.lista-redes-sociales {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.box, .box-voluntariado {
  background-color: #f7ddcd;
  border: 1px solid #ffffff;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 5%;
}

.texto-voluntariado {
  color: black;
  font-family: "Tilt neón";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  text-align: justify;
  margin: 0 10% 2% 10%;
}

.box-redes-sociales {
  display: flex;
}

.box-redes-sociales a {
  color: #000000;
}

.footers {
  background-color: #f7ddcd;
  border: 1px solid #ffffff;
  padding: 10px;
  font-family: "Tilt neón";
  margin: 5vh 0 0 0;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contenedor-listas-footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5vh;
}

.p-footer {
  width: auto;
  height: auto;
  color: #000000;
  font-family: "Tilt neón";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

#mapa {
  width: 60vh;
  height: 30vh;
}

.contactanos, .contactanos-inicio {
  width: 40vh;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contactanos-inicio input[type=text],
.contactanos-inicio input[type=email],
.contactanos-inicio input[type=submit] {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Tilt neón";
  text-align: center;
}

.contactanos input[type=text],
.contactanos input[type=email],
.contactanos input[type=number],
.contactanos input[type=submit] {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Tilt neón";
  text-align: center;
}

.contactanos-inicio input[type=submit] {
  background-color: #fcc3bc;
  color: black;
  cursor: pointer;
  font-family: "Tilt neón";
}

.contactanos-inicio input[type=submit]:hover {
  background-color: #fcbcac;
}

.contactanos-inicio input[type=submit]:active {
  background-color: #fcb4ac;
}

.contactanos input[type=submit] {
  background-color: #fcc3bc;
  color: black;
  cursor: pointer;
  font-family: "Tilt neón";
}

.contactanos input[type=submit]:hover {
  background-color: #fcbcac;
}

.contactanos input[type=submit]:active {
  background-color: #fcb4ac;
}

.abrir-menu {
  display: none;
}

div button {
  background-color: #fcc3bc;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Tilt neón";
  text-decoration: none;
  display: inline-block;
  border: 1px solid #ffffff;
}

div button:hover {
  background-color: #fcbcac;
}

div button:active {
  background-color: #fcb4ac;
}

button {
  color: #000000;
}

.opciones-donacion {
  display: flex;
  justify-content: space-between;
  margin-right: 5%;
  margin-left: 5%;
}

.donaciones {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.donaciones img {
  max-width: 100%;
  max-height: 100%;
}

.donar-dinero,
.donar-objetos {
  width: 45%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f7ddcd;
}

.donar-dinero div {
  display: flex;
  justify-content: center;
}

.donar-dinero div a {
  text-decoration: none;
  color: #000000;
}

.donar-objetos div {
  display: flex;
  justify-content: center;
}

.donar-objetos div a {
  text-decoration: none;
  color: #000000;
}

.slide {
  margin-top: 10px;
  width: 40%;
  margin: 0 auto;
}

.slide img {
  height: 50vh;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  text-shadow: 1px 1px 2px gray;
}

.iconos {
  align-content: space-around;
  align-items: center;
}

.perro-contacto {
  display: flex;
  justify-content: center;
}

.perro-contacto ul li {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.perro-contacto img {
  width: 100vh;
  height: 60vh;
}

.lista-nav a {
  position: relative;
  text-decoration: none;
  color: black;
}

.lista-nav a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 6px;
  background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.lista-nav a:hover::before {
  transform: scaleX(1);
}

.lista-nav[data-animation=center] a::before {
  transform-origin: center;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.7rem;
    background-color: transparent;
  }
  .abrir-menu {
    position: absolute;
    top: 0%;
    right: 2%;
    cursor: pointer;
  }
  .navegador {
    flex-direction: column;
    align-items: flex-start;
  }
  .lista-nav {
    display: none;
  }
  .lista-nav.visible {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    gap: 0.5rem;
  }
  .lista-nav.show {
    display: flex;
  }
  #Logo {
    width: 80px;
    height: 60px;
  }
  .imagenes {
    height: auto;
  }
  .box, .box-voluntariado {
    width: 90%;
    margin: 5% auto;
  }
  .slide {
    width: 90%;
  }
  .opciones-donacion {
    flex-direction: column;
    align-items: center;
  }
  .donar-dinero, .donar-objetos {
    width: 80%;
    margin-bottom: 20px;
  }
  .contactanos, .contactanos-inicio {
    width: 90%;
  }
  .perro-contacto img {
    width: 90vw;
    height: auto;
  }
  .banner-donaciones {
    width: 80%;
  }
  #perro-contacto-img {
    width: 90%;
  }
  .contenedor-listas-footer {
    flex-direction: column;
    align-items: center;
  }
  #mapa {
    width: auto;
    height: auto;
  }
}
@media (min-width: 601px) and (max-width: 991px) {
  header {
    flex-direction: row;
    align-items: center;
    width: auto;
  }
  .navegador {
    flex-direction: row;
    align-items: center;
  }
  .lista-nav {
    flex-direction: row;
    width: auto;
    align-items: center;
    gap: 0.5rem;
    display: flex;
  }
  #Logo {
    width: 100px;
    height: 80px;
  }
  .imagenes {
    height: auto;
  }
  .box, .box-voluntariado {
    width: 300px;
    margin: 20px auto;
  }
  .slide {
    width: 70%;
    height: 100%;
  }
  .opciones-donacion {
    flex-direction: row;
    align-items: center;
  }
  .donar-dinero, .donar-objetos {
    width: 45%;
    margin-bottom: 0;
    margin-right: 5%;
  }
  .contactanos, .contactanos-inicio {
    width: 40%;
    margin: 0 auto;
  }
  .perro-contacto img {
    width: 100%;
    height: auto;
  }
  .banner-donaciones {
    width: 80%;
  }
}
@media (min-width: 992px) {
  .slide {
    width: auto;
    height: auto;
  }
  .contactanos, .contactanos-inicio {
    width: 40%;
    margin: 0 auto;
  }
  .banner-donaciones {
    width: 80%;
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}/*# sourceMappingURL=styles.css.map */